@using static FUNewsManagement_FE.Controllers.CategoryController
@model CategoryCreateUpdateDto
@{
    ViewData["Title"] = "Add Category";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2>Add Category</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="CategoryName" class="form-label"></label>
        <input asp-for="CategoryName" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryDesciption" class="form-label"></label>
        <textarea asp-for="CategoryDesciption" class="form-control"></textarea>
        <span asp-validation-for="CategoryDesciption" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ParentCategoryId" class="form-label">Parent Category</label>
        <select asp-for="ParentCategoryId" class="form-select" asp-items="ViewBag.ParentCategories">
            <option value="">None</option>
        </select>
    </div>


    <div class="form-check mb-3">
        <input asp-for="IsActive" class="form-check-input" />
        <label asp-for="IsActive" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

